<form (ngSubmit)='submitUser()' #goalForm='ngForm'>
        <input type="text" required class="form-control" id="user"[(ngModel)]="newUser.login"name="name" #username='ngModel' required>
        <button type="submit" class="btn btn-primary">Search User</button>
</form>
<br>
<form (ngSubmit)='submitRepo()' #goalForm='ngForm'>
    <input type="text" required class="form-control" id="repo"[(ngModel)]="newRepo.name"name="name" #repo='ngModel' required>
    <button type="submit" class="btn btn-primary">Search repository</button>
</form>