<app-navbar></app-navbar>
<h1 class="text-center pt-5 fw-5">Welcome to your Github Account</h1>
<h2 class="text-center text-primary pt-4">This is my profile</h2>
<div class="container">
    <div class="row">
        <div class="col-4">
            <img src="{{user.avatar_url}}" height=auto width=80% alt="">
        </div>
        <div class="col-5 text-primary pt-5 fw-4 display-6">
            Username: {{user.login}}
            <br>
            Repositories:{{user.public_repos}}
            <br>
            Followers:{{user.followers}}
            <br>
            Following:{{user.following}}
            <br>          
        </div>
        <div class="col-3">
            <app-form></app-form>
        </div>
        <div  class="col-6">
            Repository{{repo.name}}
            <br>
            {{repo.description}}
            <br>
            {{repo.url}}
        </div>
    </div>
</div>